<br><br><br><br>

Uspješno ste registrirani. Registrirali ste sa e-mailom: <a href="http://localhost:3000/login"><%= @student.email %></a>.
Za potvrdu registracije posjetite sljedeci link: <a href="http://studentski-servis.herokuapp.com/confirm?tk=<%= @student.generate_auth_token %>">LINK</a>.