<div class="registracija">
	<div ng-controller="AddingStudent">
		<button ng-click="clicked()">Dodaj me!</button>
	</div>


	<h2>Registracija studenta </h2>
	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				
	  			<form name="form" ng-submit="save()">
					<p>Ime</p>
					<input type="text" class="form-control name" ng-model="student.name">
					<p>Prezime</p>
					<input type="text" class="form-control surname" ng-model="student.surname">
					<p>KorisnÄko ime</p>
					<input type="text" class="form-control username" ng-model="student.username">
					<p>Email</p>
					<input type="email" class="form-control email" ng-model="student.email">
					<p>Lokacija</p>
					<input type="text" class="form-control location" ng-model="student.location">
					<p>Univerzitet</p>
					<input type="text" class="form-control university" ng-model="student.university">
					<p>Fakultet	</p>
					<input type="text" class="form-control faculty" ng-model="student.faculty"><br>
					<button ng-click="addStudent()" value="Registruj se" class="btn btn-primary create_student">Registruj se </button>
					
			</form>
		</div>
	</div>
</div>