<ul class="nav nav-tabs">
  <li role="presentation"><a href="admin/locations">Locations</a></li>
  <li role="presentation"><a href="admin/categories">Categories</a></li>
  <li role="presentation"><a href="admin/students">Students</a></li>
  <li role="presentation"><a href="admin/companies">Companies</a></li>
  <li role="presentation" class="active"><a href="admin/statistics">Statistics</a></li>
</ul>