

<br><br><br>
<br><br><br>

<div style="width:300px; padding-left: 20px; margin-left: 100px;">

  <form>
    <label>Kategorija</label><br>
    <input type="text" name="kategorija" value="{{kategorija}}"><br>
    <label>Kompanija</label><br>
    <input type="text" name="kompanija" value="{{kompanija}}"><br>
    <label>Lokacija</label><br>
    <input type="text" name="lokacija" value="{{lokacija}}"><br>
    <label>Opis</label><br>
    <input type="text" name="opis" value="{{opis}}"><br>
    <label>Trajanje</label><br>
    <input type="text" name="trajanje" value="{{trajanje}}"><br>
    <br><br>
    <input type="submit" name="editAd_button" value="Spasi izmjene" class="btn btn-default">
  </form>

</div>