<!-- <form class="form-register" ng-controller="JobsController">
        <select class="form-control" id="select">
        <option ng-repeat="job in podaci">
        {{job.description}}</option>
        </select>
</form> -->