
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="admin/locations">{{'LOCATION' | translate}}s</a></li>
  <li role="presentation"><a href="admin/categories">{{'CATEGORIES' | translate}}</a></li>
  <li role="presentation"><a href="admin/students">{{'STUDENTS' | translate}}</a></li>
  <li role="presentation"><a href="admin/companies">{{'COMPANIES' | translate}}</a></li>
  <li role="presentation"><a href="admin/statistics">{{'STATISTICS' | translate}}</a></li>
</ul>
