

<h2> Prijava </h2>
<div class="container" style="position:relative; top:50px; width:400px;">
  <form class="form-signin" ng-controller="loginController as login" ng-submit="login.logiraj(glavni)">
      
    <label for="inputEmail" class="sr-only">E-mail adresa</label>
    <input type="email" ng-model="login.podaci.email" id="inputEmail" class="form-control" placeholder="E-mail adresa" required autofocus><br>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" ng-model="login.podaci.password" id="inputPassword" class="form-control" placeholder="Password" required><br>
    <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="login.podaci.zapamti"> Zapamti prijavu
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Prijava</button>
    </form>

    <br>
    <a href="/unosEmail">Zaboravili ste šifru?</a>

</div>
