<ul class="nav nav-tabs" >
  <li role="presentation"><a href="profil">My profile</a></li>
  <li role="presentation" class="active"><a href="myads">My ads</a></li>
</ul>
<h2 align="center"> <%= I18n.t('my_ads') %> </h2>
<h1 translate>{{ 'TITLE' | translate }}</h1>