<ul class="nav nav-tabs" >
  <li role="presentation"><a href="profil">My profile</a></li>
  <li role="presentation" class="active"><a href="myads">My ads</a></li>
</ul>

<div class="row" style="position:absolute; top: 170px; left:100px;width: 100%;">
    <div class="col-md-4" ng-repeat-start="oglas in oglasi">
        <oglas-box naziv-posla="{{oglas.name}}" kompanija="{{oglas.company_name}}" lokacija="{{oglas.city}}" id-oglasa="{{oglas.id}}" kraj="{{oglas.duration}}" promoviran="{{oglas.promoted}}" logo="{{oglas.logo}}"> </oglas-box>
    </div>
    <div ng-repeat-end=""></div>
</div>