<ul class="nav nav-tabs" >
  <li role="presentation"><a href="profil">My profile</a></li>
  <li role="presentation" class="active"><a href="myads">My ads</a></li>
</ul>
<h2 align="center"> {{ 'MY_ADS2' | translate }} </h2>
<h1>{{ 'TITLE' | translate }}</h1>

<my-ad></my-ad><my-ad></my-ad><my-ad></my-ad>