<ul class="nav nav-tabs" >
  <li role="presentation"><a href="profil">My profile</a></li>
  <li role="presentation" class="active"><a href="myads">My ads</a></li>
</ul>
<h2 align="center"> {{ 'MY_ADS2' | translate }} PROBA2</h2>

<table>
	<tr>
		<td style="padding: 15px;" ng-repeat="oglas in oglasi.slice(0,3)">
			<oglas-box naziv-posla="{{oglas.name}}" kompanija="{{oglas.company_name}}" lokacija="{{oglas.city}}" id-oglasa="{{oglas.id}}" kraj="{{oglas.duration}}" datumprijave="{{oglas.created_at}}"> </oglas-box>
		</td>
	</tr>
</table>



