<br><br>
<h2> {{ 'MY_AD_SHOW' | translate }} </h2>
<div class="container" style="position:relative; top:50px; width:400px;">
  <form class="form-choosen-ad ad_forma" ng-controller="ChoosenAd as ad" ng-submit="ad.prijavi()" action="">
    <span> {{ 'AD_CATEGORY_SHOW' | translate }}: </span> <span class="kategorija"> </span> <br>
    <span> {{ 'AD_COMPANY_SHOW' | translate }}: </span> <span class="kompanija"> </span> <br>
    <span> {{ 'AD_DESCRIPTION_SHOW' | translate }}: </span> <span class="opis"> </span> <br>
    <span> {{ 'AD_LOCATION_SHOW' | translate }}: </span> <span class="lokacija"> </span> <br>
    <span> {{ 'AD_DURATION_SHOW' | translate }}: </span> <span class="trajanje"> </span> <br>
    <br>
    
    <input ng-click="ad.prijavi()" class="btn btn-default oglass_button" style="width: 300px;" value=""> <br><br>
    <input type="button" class="btn btn-default oglas_edit" style="width: 300px;" value="{{ 'AD_EDIT_BUTTON' | translate }}" > 

  </form>

  <form>
    <edit-Ad class="forma_izmjena" kategorija="Test" kompanija="Test" lokacija="Test" opis="Test" trajanje="Test"></edit-Ad>
    <input type="button" name="editAd_button" value="Spasi izmjene" class="btn btn-default editAd_button">
      <br>
  </form>


  <!-- <div ng-controller='ChoosenAd'>
  	<edit-Ad class="forma_izmjena" kategorija="{{ad_kategorija}}" kompanija="{{ad_kompanija}}" lokacija="{{ad_lokacija}}" opis="{{ad_opis}}" trajanje="{{ad_trajanje}}"></edit-Ad>
  	<input type="button" name="editAd_button" value="Spasi izmjene" class="btn btn-default editAd_button">
  	<br>
  </div> -->

  </form>
  	<p class="svi_studenti"></p>
  </form>

<br><br>
</div>

