<br><br>
<h2> Oglas </h2>
<div class="container" style="position:relative; top:50px; width:400px;">
  <form class="form-choosen-ad ad_forma" ng-controller="ChoosenAd as ad" ng-submit="ad.prijavi()" action="">
    <span> Kategorija: </span> <span class="kategorija"> </span> <br>
    <span> Kompanija: </span> <span class="kompanija"> </span> <br>
    <span> Opis: </span> <span class="opis"> </span> <br>
    <span> Lokacija: </span> <span class="lokacija"> </span> <br>
    <span> Trajanje oglasa: </span> <span class="trajanje"> </span> <br>
    <br>
    
    <input ng-click="ad.prijavi()" class="btn btn-default oglass_button" style="width: 300px;" value=""> <br><br>
    <input type="button" class="btn btn-default oglas_edit" style="width: 300px;" value="Izmjena oglasa" > 

  </form>


  <div ng-controller='ChoosenAd'>
  	<edit-Ad class="forma_izmjena" kategorija="{{ad_kategorija}}" kompanija="{{ad_kompanija}}" lokacija="{{ad_lokacija}}" opis="{{ad_opis}}" trajanje="{{ad_trajanje}}"></edit-Ad>
  	<input type="button" name="editAd_button" value="Spasi izmjene" class="btn btn-default editAd_button">
  	<br>
  </div>
  </form>

  </form>
  	<p class="svi_studenti"></p>
  </form>

<br><br>
</div>

