<div class="row">
  <div class="col-md-6 col-centered">
    <div class="panel panel-info" style="padding: 20px;">
      <div class="panel-heading" style="margin-bottom: 10px;">{{'AD' | translate}}</div>
    
      <b>{{ 'AD_CATEGORY_SHOW' | translate }}:</b> {{data.category}}<br>
      <b>{{ 'AD_COMPANY_SHOW' | translate }}:</b> {{data.company}}<br>
      <b>{{ 'AD_DESCRIPTION_SHOW' | translate }}:</b> {{data.description}}<br>
      <b>{{ 'AD_LOCATION_SHOW' | translate }}:</b> {{data.location}}<br>
      <b>{{ 'AD_DURATION_SHOW' | translate }}:</b> {{data.duration}}<br>
      <br>
          
      <input ng-show="isVisible('apply')" ng-click="apply()" class="btn btn-default oglass_button"  value="Apply">
      <input ng-show="isVisible('showApplications')" ng-click="showApplications()"  class="btn btn-default" value="Show applications">
      <!--<input ng-show="isVisible('showEditAd')" ng-click="showEditAd()"  class="btn btn-default" value="{{ 'AD_EDIT_BUTTON' | translate }}">-->
      <input type="button" class="btn btn-default oglas_edit"  value="{{ 'AD_EDIT_BUTTON' | translate }}">


      <div class="edtitForma">
      <form>
        <div style="position:relative; top:50px; width:400px;">

          <form>
            <label>Kategorija</label><br>

            <select ng-model="novaKategorija" ng-change="editAdThisCategory()" >
                
                <option ng-repeat="category in all_categories" value="{{category.id}}">{{category.name}}</option>
            </select><br>

            <!--<input type="text" class="dir_kategorija" name="kategorija" value={{ad_kategorija}}><br>-->
            <!--<label>Kompanija</label><br>
            <input type="text" name="kompanija" value={{ad_kompanija}}><br>-->
            <label>Opis</label><br>
            <input type="text" name="opis" value={{ad_opsi}} class="noviOpis"><br>
            <label>Lokacija</label><br>

            <select value={{ad_lokacija}} ng-model="novaLokacija" ng-change="editAdThisLocation()" >
                <option ng-repeat="location in all_locations" value="{{location.id}}">{{location.city}}</option>
            </select><br>
            
            <!--<label>Trajanje</label><br>
            <input type="text" name="trajanje" value={{trajanje}} class='novoTrajanje'><br>-->
            <br>
            <input ng-click="editThisAd()" type="submit" name="editAd_button" value="Spasi izmjene" class="btn btn-default editAd_button">
          </form><br><br><br><br>

        </div>


        <!-- <edit-Ad class="forma_izmjena" kategorija="Test" kompanija="Test" lokacija="Test" opis="Test" trajanje="Test"></edit-Ad> -->
        
      </form>
      </div>
      
    </div>
  </div>
</div>

<div class="row" ng-show="showEditAdVisible">
  <div class="col-md-6 col-centered">
    <div class="panel panel-info" style="padding: 20px;">
      <div class="panel-heading" style="margin-bottom: 10px;">Izmejna oglasa</div>
      


    </div>
  </div>
</div>


<div class="row" ng-show="showApplicationsVisible">
  <div class="col-md-6 col-centered">
    <div class="panel panel-info" style="padding: 20px;">
      <div class="panel-heading" style="margin-bottom: 10px;">{{'STUDENTS_APPLICATIONS' | translate}}</div>
      <table class="table-striped">
        <tr ng-repeat="student in students">
          <td><a ng-click="showStudentsProfile(student.id)">{{student.name}} {{student.surname}}</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="row" ng-show="showStudentsProfileVisible">
  <div class="col-md-6 col-centered">
    <div class="panel panel-info" style="padding: 20px;">
      <div class="panel-heading" style="margin-bottom: 10px;">{{'STUDENTS_PROFILE' | translate}}</div>
      <b>{{ 'STUDENT_NAME' | translate }}:</b> {{studentsProfile.student.name}}<br>
      <b>{{ 'STUDENT_SURNAME' | translate }}:</b> {{studentsProfile.student.surname}}<br>
      <b>{{ 'UNIVERSITY' | translate }}:</b> {{studentsProfile.student.university}}<br>
      <b>{{ 'FACULTY' | translate }}:</b> {{studentsProfile.student.faculty}}<br>
      <a class="btn btn-default" target="_self" href="/students/download_cv?id={{studentsProfile.student.id}}" download>{{ 'CV' | translate }}</a>
    </div>
  </div>
</div>
