<br><br><br>
<h1>oglasi</h1>
<div ng-controller ="JobsController">
    <ul>
    <li ng-repeat="p in getAllJobs">
    {{ p.description}}
    </li>
    <li>
      [<a href ng-click="podaci.push({})">add</a>]
    </li>
  </ul>
</div>