</br></br>
</br></br>
<div class="container" style="position:relative; top:50px; width:400px;">
        
    <form class="form-register" ng-controller="JobsController as job" ng-submit="job.createNewJob()">
       <p>Vas oglas je uspjesno unesen!</p>
    </form>
    <br>
</div>