<div ng-show="isVisibleByRole('student')">
 <p> {{ 'STUDENT_NAME' | translate }}: </p>{{data.name}}
 <p> {{ 'STUDENT_SURANEM' | translate }}: </p>{{data.surname}}
 <p> {{ 'CITY' | translate }}: </p>{{data.location}}
 <p> {{ 'STUDENT_NAME' | translate }}: </p>{{data.name}}
</div>
<div ng-show="isVisibleByRole('student')">
  <h2 align="center"> {{ 'MY_PROFILE' | translate }} </h2>
</div>