<h2> Promjena šifre </h2>
<div class="container" style="position:relative; top:50px; width:400px;">
  <form class="form-changePassword" ng-controller="passwordController as passwordC" ng-submit="passwordC.promjeni()">

  	<input type="hidden" ng-model="passwordC.podaci.email" value={{azra.ibrahimovic@hotmail.com}} id="inputPassword1" class="form-control" placeholder="" required autofocus><br>

    <p> Stari password </p>
    <label for="inputPassword1" class="sr-only">Password</label>
    <input type="password" ng-model="passwordC.podaci.stari_password" id="inputPassword1" class="form-control" placeholder="" required autofocus><br>

    <p> Novi password </p>
    <label for="inputPassword2" class="sr-only">Potvrda passworda</label>
    <input type="password" ng-model="passwordC.podaci.novi_password" id="inputPassword2" class="form-control" placeholder="" required autofocus><br><br>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Promjena šifre</button>
  </form>

</div>