<ul class="nav nav-tabs">
  <li role="presentation"><a href="admin/locations">{{'LOCATION' | translate}}s</a></li>
  <li role="presentation"><a href="admin/categories">{{'CATEGORIES' | translate}}</a></li>
  <li role="presentation"><a href="admin/students">{{'STUDENTS' | translate}}</a></li>
  <li role="presentation"><a href="admin/companies">{{'COMPANIES' | translate}}</a></li>
  <li role="presentation" class="active"><a href="admin/statistics">{{'STATISTICS' | translate}}</a></li>
</ul>

<!-- Prvi -->
<div class="row" style="margin: 20px;">
	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">{{'NUMBER_OF_SIGN_UPS' | translate}}</div>
			<div class="row">
				<div class="col-md-4" style="margin: 20px;">
					<form class="form-register" ng-submit="drawSignedUpUsers()">
						<div class="col-xs-8">
							<div class="form-group">
								<label>From: </label><br>

								<select class="form-control input-sm"  ng-model="signedUpUsers.from_m" ng-options="k as v for (k , v) in months" ></select>
								<input class="form-control input-sm" type="text" ng-model="signedUpUsers.from_y">
							</div>
						</div>
						<div class="col-xs-8">
							<div class="form-group">
								<label>To: </label><br>

								<select class="form-control input-sm"  ng-model="signedUpUsers.to_m"  ng-options="k as v for (k , v) in months"></select>
								<input class="form-control input-sm" type="text" ng-model="signedUpUsers.to_y"><br><br>
								<button class="btn btn-lg btn-primary btn-block btn-xs">{{'DRAW' | translate}}</button><br>
								<alert type="danger" ng-show="alertSignedUpUsers.period.visible">{{'ERROR_FROM_GT_TO' | translate}}</alert>
								<alert type="danger" ng-show="alertSignedUpUsers.number.visible">{{'ERROR_NUM_NOT_TEXT' | translate}}</alert>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-4">
					<canvas id="signedUpUsersChart" width="300" height="400"></canvas></div>
				</div>
			</div>
		</div>

<!-- Drugi -->
		<div class="col-md-6">
			<div class="panel panel-danger">
				<div class="panel-heading">{{'NUMBER_OF_ADS_PER_LOCATIONS' | translate}}</div>

				<div class="row">
				<div class="col-md-4" style="margin: 20px;">
					<form class="form-register" ng-submit="drawAdsLocation()">
						<div class="col-xs-8">
						</div>
						<div class="col-xs-8">
							<div class="form-group">
								
								<button class="btn btn-lg btn-primary btn-block btn-xs">{{'DRAW' | translate}}</button><br>
							</div>
						</div>
					</form>
				</div>

				<div class="col-md-4">
					<canvas id="adsLocationChart" width="300" height="400"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Treći -->
<div class="row" style="margin: 20px;">
	<div class="col-md-6">
		<div class="panel panel-success">
			<div class="panel-heading">{{'NUMBER_OF_REGISTRATIONS' | translate}}</div>
			<div class="row">
				<div class="col-md-4" style="margin: 20px;">
					<form id="frm" class="form-register" ng-submit="drawRegistrations()">
						<div class="col-xs-8">
							<div class="form-group">
								<label>From: </label><br>

								<select class="form-control input-sm"  ng-model="registrations.fromR_m" ng-options="k as v for (k , v) in months" ></select>
								<input class="form-control input-sm" type="text" ng-model="registrations.fromR_y">
							</div>
						</div>
						<div class="col-xs-8">
							<div class="form-group">
								<label>To: </label><br>

								<select class="form-control input-sm"  ng-model="registrations.toR_m"  ng-options="k as v for (k , v) in months"></select>
								<input class="form-control input-sm" type="text" ng-model="registrations.toR_y"><br><br>
								<button class="btn btn-lg btn-primary btn-block btn-xs">{{'DRAW' | translate}}</button><br>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-4">
					<canvas id="registrationsChart" width="300" height="400"></canvas></div>
				</div>
			</div>
		</div>


<!-- Četvrti -->
		<div class="col-md-6">
			<div class="panel panel-warning">
				<div class="panel-heading">{{'NUMBER_OF_ADS_PER_COMPANIES' | translate}}</div>

				<div class="row">
				<div class="col-md-4" style="margin: 20px;">
					<form class="form-register" ng-submit="drawAdsPerCompany()">
						<div class="col-xs-8">
							<div class="form-group">
								
								<button class="btn btn-lg btn-primary btn-block btn-xs">{{'DRAW' | translate}}</button><br>
								<alert type="danger" ng-show="alertSignedUpUsers.period.visible">{{'ERROR_FROM_GT_TO' | translate}}</alert>
								<alert type="danger" ng-show="alertSignedUpUsers.number.visible">{{'ERROR_NUM_NOT_TEXT' | translate}}</alert>
							</div>
						</div>
					</form>
				</div>

				<div class="col-md-4">
					<canvas id="adsCompaniesChart" width="300" height="400"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Peti -->
<div class="row" style="margin: 20px;">
	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">{{'NUMBER_OF_ADS_PER_CATEGORIES' | translate}}</div>
			<div class="row">
				<div class="col-md-4" style="margin: 20px;">
					<form class="form-register" ng-submit="drawBarChart()">
						<div class="col-xs-8">
							<div class="form-group">
							
							</div>
						</div>
						<div class="col-xs-8">
							<div class="form-group">
								<button class="btn btn-lg btn-primary btn-block btn-xs">{{'DRAW' | translate}}</button><br>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-4">
					<canvas id="categoriesChart" width="300" height="400"></canvas></div>
				</div>
			</div>
		</div>

</div>

